
      body{
        background-color: #F5F5F5;
	-webkit-user-select: none; 
      }

.bk{
  position: fixed;
  margin-left: 10px;
}

 .container h2{
  color: black;
 }
#tab li{
	font-size: 20px;
  color: white;
}
